pypdf==3.17.0
accelerate==0.22.0
bitsandbytes==0.43.0
ctransformers==0.2.26
faiss-cpu==1.7.4
huggingface-hub==0.16.4
langchain==0.0.329
sentence-transformers==2.2.2
torch==2.0.1
transformers==4.36.0

chainlit==1.0.0
streamlit==1.30.0
